body {
  font-family: sans-serif;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

.green {
  background-color: #d4edda;
}

.red {
  background-color: #f8d7da;
}